
@mixin logo($width:400px, $height:190px, $background:url($logo-path) no-repeat 0 50px, $float:left, $display:block, $margin:0){
    width:$width;
    height:$height;
    background:$background;
    float:$float;
    display:$display;
    margin:$margin;
}
@mixin nav-menu($width: 400px, $height: 200px, $float: left, $text-align: right) {
    width: $width;
    height: $height;
    float: $float;
    text-align: $text-align;
}

@mixin header($width: 400px, $margin-top-bottom: auto, $margin-left-right: auto) {
    width:$width;
    margin:$margin-top-bottom $margin-left-right;
}

@mixin footer($width:100%, $height:120px, $background:$dark-grey, $text-align:center, $color:$white, $padding-top:50px){
    width: $width;
    height: $height;
    background: $background;
    text-align: $text-align;
    color: $color;
    padding-top: $padding-top;
}

@mixin break($window-width: 100px) {
    @media screen and (max-width:$window-width) {
        @content;
    }
}


