// Color Variables
$white:#FFF;
$orange: #E65C43;
$light-grey: #666;
$dark-grey: #30353D;
$super-light-grey: #F5F6F6;

// Path Variables
$bg-path: '../images/bg.gif';
$logo-path: '../images/logo.png';
$social-media-path: '../images/social-media.png';

// Font Variables
$web-font-family : 'Roboto', sans-serif;

// Media Variables
$media-max: 959px;
$media-med: 767px;
$media-min: 459px;
$social-media : -38px;



